<div class="row" id="form-size">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Reset Password</h3>
    <form>
      <div class="col-md-6">
        <div class="md-form mb-0">
          <label for="registerUseremail" class="">Username</label>
          <input type="email" class="form-control" id="registerUseremail" placeholder="Enter your business email id"
                 #email="ngModel" ngModel pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required
                 [(ngModel)]="formData.email" [ngModelOptions]="{standalone:true}"/>
          <span *ngIf="email.invalid && (email.dirty || email.touched)" class="errormessage">Please enter valid email.</span>
        </div>
      </div>
      <br>
      <div class="mb-3">
        <label for="resetPassword" class="form-label">Enter new Password</label>
        <input type="password" class="form-control" id="resetPassword"
               placeholder="Enter Password"> <br />
        <label for="resetPassword" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword"
               placeholder="Confirm Password">
      </div>

      <button type="submit" class="btn btn-primary" id="reset-btn">Reset Password</button>
    </form>
  </div>
</div>


