<nav class="navbar navbar-expand-lg navbar-light bg-#AE0736">
  <div class="container-fluid">
    <img src="assets/AIA-logo.png" width="45" alt="" class="d-inline-block align-middle mr-2">
    <a class="navbar-brand" href="#" id="navbarNav">AgentPro</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

     <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" id="navbarNav">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               [routerLink]="['login']" routerLinkActive="active" id="navbarNav">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               [routerLink]="['register']" routerLinkActive="active" id="navbarNav">Register</a>
          </li>
        </ul>
      </div>
  </div>
</nav>
  <div class="p-5 text-center bg-image" style="background-image: url('assets/bg-img.jpg');" id="bg-img">
    <div class="taglines">
    <h1 class="headingline">AgentPro</h1>
    <h4 class="mb-3">Protect your ride with our best quotes..</h4>
    </div>
  </div>
  <iframe src='https://webchat.botframework.com/embed/teamonechatbot99-bot?s=K1Phw2T_vU4.gcW4t5d6Q0yiFHJ_CKKJw7qXqYfCDzwFyqNDj21cQMk' style='min-width: 400px; width: 30%; min-height: 500px;'></iframe>
 
