
<section class="card-sec ">
  <div class="container">
    <div class="row d-flex justify-content-center ">
      <div class="col-md-3 ">
        <div class="card shadow-lg h-100 ">
          <div class="card-body ">
            <h3>Make Your Quote</h3>
            <p>Get quotes on the spot with just few clicks.</p>
            <div class="text-center">
              <button class="btn btn-danger btn-sm" routerLink='/make-quote' routerLinkActive="active">Create Quote</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card shadow-lg h-100">
          <div class="card-body">
            <h3>View Quotes</h3>
            <p>View your latest quotes and quote history here.</p>
            <div class="text-center">
              <button class="btn btn-danger btn-sm">View Quotes</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card shadow-lg h-100">
          <div class="card-body">
            <h3>View Schedule</h3>
            <p>See calender for upcoming meeting and events.</p>
            <div class="text-center">
              <button class="btn btn-danger btn-sm">Calendar</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card shadow-lg h-100">
          <div class="card-body">
            <h3>Need Help</h3>
            <p>
              We are here to help.
              Get help anywhere, anytime.
            </p>
            <div class="text-center">
              <button class="btn btn-danger btn-sm" routerLink='/contact-us' routerLinkActive="active">Contact Us</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
