#allbuttons {
  background-color: #AE0736;
}
.errormessage {
  color: red;
}
.taglines {
  padding: 70px;
  color: antiquewhite;
  text-align: left;
  background-color: rgb(0,0,0,0.5);
}

.headingline {
  text-align: left;
}

