#contact-form {
  width: auto;
  padding:20px;
 
}

#contactrightdiv{
    padding-top:20px;
}

.row{
    width:100%;
}
#send-btn {
  background-color: #AE0736;
 
}
#send-div{
    padding-left:20px;
}
